<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TP SPRINGBOOT CONNECT 4</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div><b>player 1 : {{game.nomGamer1}}</b></div>
    <div><b>player 2 : {{game.nomGamer2}}</b></div>

    <div><b>{{game.message}}</b></div>
    <div>Tour<b>{{game.tour}}</b></div>

    <table border="1" width="300px" height="200px">

        <tbody>

            {{#game.tableau}}
                <tr>

                    {{#.}}
                    <td><a class="{{game.style}}" href="http://localhost:8080/game/drop/{{-index}}">{{.}}</a></td>
                    {{/.}}

                </tr>

            {{/game.tableau}}

        </tbody>

    </table>

</body>
</html>