<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
        	#titre {
        	text-align:center;
        	}
        	table {
        		width : 70%;
        		height : 400px;
        		margin-left : 15%;
        	}
        </style>
    </head>

    <body>
		<div id="titre">
			<strong>{{toto.nomJoueur1}}</strong> VS <strong>{{toto.nomJoueur2}}</strong>
		</div>
		
		<table border="1">
			{{#toto.tableauJetons}}
				<tr>
					{{#.}}
						<td>{{.}}</td>
					{{/.}}
				</tr>
			{{/toto.tableauJetons}}
		</table>
    </body>
</html>